.main-filmografia {
    .films {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: 20rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 25rem;
        .film {
            justify-self: center;
            align-self: center;
            width: 30vw;
            height: 90vh;
            margin-bottom: 18rem;
            h2 {
                text-align: left;
                height: 8%;
            }
            img {
                width: 60%;
                height: 60%;
            }
            p {
                color: nth($list: $colores, $n: 4);
                text-align: left;
                width: 100%;
                height: 70%;
                padding-right: 8rem;
                padding-top: 2rem;
            }
        }
    }
}