.main-discografia {
    .imagen-discografia {
        width: 100%;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
        .discos {
            @include grid(repeat(3, 1fr), repeat(5, auto), 0, stretch, center);
        }
}