.main-discografia {
    .imagen-discografia {
        overflow-x: hidden;
        img {
            width: 100vw;
            padding: 0;
        }
    }
        .discos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, auto);
            padding: 0;
            overflow-x: hidden;
        }
}