.main-index {
    font-family: $fuenteprincipal;
    max-width: 160rem;
    margin: 0 auto;
    .grid {
        @include grid(repeat(3, 1fr), 1fr, 4rem, center, center);
        .par-main {
            text-align: justify;
            color: nth($list: $colores, $n: 4);
            margin: 0 3rem;
            @extend %alineaciones;
        }
        .carousel {
            .carousel-indicators .active {
                background-color: nth($list: $colores, $n: 2);
            }
                .carousel-control-prev-icon,
                .carousel-control-next-icon  {
                    background-color: nth($list: $colores, $n: 2);
                }
        }

    }
}