.main-index {
    font-family: $fuenteprincipal;
    max-width: 160rem;
    margin: 0 auto;
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        gap: 4rem;
        .par-main {
            text-align: justify;
            color: nth($list: $colores, $n: 4);
            margin: 7rem;
            align-self: center;
        }
        .carousel {
            .carousel-indicators .active {
                background-color: nth($list: $colores, $n: 2);
            }
                .carousel-control-prev-icon,
                .carousel-control-next-icon  {
                    background-color: nth($list: $colores, $n: 2);
                }
        }

    }
}