html {
    font-size: 62.5%;
}

body {
    background-color: nth($list: $colores, $n: 3);
    font-size: 1.6rem;
    color: nth($list: $colores, $n: 4);
    line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: $fuenteprincipal;
  text-align: center;
}
h1 {
  color: nth($list: $colores, $n: 4);
  font-size: 3.8rem;
}
h2 {
  color: nth($list: $colores, $n: 2);
  font-size: 3rem;
  margin: 2rem auto 5rem;
}
h3 {
  color: nth($list: $colores, $n: 2);
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: nth($list: $colores, $n: 2);
  &:hover {
    color: nth($list: $colores, $n: 1);
  }
    &:active {
      color: nth($list: $colores, $n: 3);
    }
}
