/* desde desktop a tablet (768 a 1024px) */
@media screen and (max-width: 1024px) {
    // HEADER Y FOOTER
    .header,
    footer {
        @include flex(column, center, center);
        position: relative;
        margin: 1rem 0 1rem 0;
        padding: 0;
    }
        .logo {
            object-fit: cover;
        }
            .navegacion {
                margin-top: 0;
                ul {
                    padding: 1rem;
                }
        }
                    footer {
                        margin-top: 5rem;
                    }
    // MAIN-INDEX
    .main-index {
        .grid {
            @include grid(1fr, repeat(3, auto), 2.5rem, center, center);
        }
            .par-main {
                margin: 3rem 2rem 0 2rem;
            }
                h2 {
                    margin-top: 0;
                }
    }
    // DISCOGRAFIA
    .main-discografia {
        .discos {
            @include grid(repeat(2, 1fr), repeat(7, 1fr), 0, stretch, center);
            padding: 1rem;
        }
    }
    // FILMOGRAFIA
    .main-filmografia {
        .films {
            @include grid(repeat(2, 1fr), repeat(3, auto), 0, center, center);
            row-gap: 30rem;
            margin-bottom: 45rem;
        }
            .film {
                width: 100vw;
                height: 100vh;
                margin-left: 2rem;
                // margin-bottom: 100rem;
                h2 {
                    height: 80%;
                    padding-bottom: 5rem;
                    padding-top: 3rem;
                }
                img {
                    width: 100%;
                    height: 40%;
                    margin-top: 5rem;
                }
                p {
                    padding-right: 0;
                }
            }
    }
    // CONTACTO
    .main-formulario {
        .contenedor {
            @include grid(1fr, repeat(3, auto), 4rem, center, center);
        }
            .formulario {
                width: auto;
            }
    }
}

/* desde tablet a mobile (320 a 768px) */
@media screen and (max-width: 768px) {
    // HEADER
    .header {
        .navegacion {
            ul {
                display: block;
                margin-top: 1rem;
                li {
                    margin-top: 1.5rem;
                    text-align: center;
                }
            }

        }
    }
    // MAIN-INDEX
    .main-index {
        .grid {
            @include grid(1fr, repeat(3, auto), 4rem, center, center);
        }
    }
    // MAIN-DISCOGRAFIA
    .main-discografia {
        .discos {
            @include grid(1fr, 1fr, 0, stretch, center);
            padding: 1rem;
        }
    }
    // MAIN-FILMOGRAFIA
    .main-filmografia {
        .films {
            @include flex(column, center, center);
            margin-bottom: 15rem
        }
            .film {
                @include flex(column, center, stretch);
                margin-bottom: 58rem;
                height: 100vh;
                width: 100vw;
                &:first-child{
                    margin-top: 10rem;
                }
                &:nth-child(3) {
                    h2 {
                        margin-bottom: 15rem
                    }
                }
                &:nth-child(5) {
                    h2 {
                        margin-bottom: 20rem
                    }
                }
                &:nth-child(6) {
                    h2 {
                        margin-bottom: 22rem
                    }
                }
                h2 {
                    font-size: 2.4rem;
                    max-height: 10%;
                    padding-bottom: 3.5rem;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                p {
                    padding: 0;
                    word-break: break-all;
                }
            }
    }
    // CONTACTO
    .main-formulario {
        .formulario {
            width: auto;
            height: 50vh;
            margin: 1.5rem;
        }
    // FOOTER
    footer {
        margin: 0
    }
    }
}