/* desde desktop a tablet (768 a 1024px) */
@media screen and (max-width: 1024px) {
    // HEADER Y FOOTER
    .header,
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 1rem 0 1rem 0;
        padding: 0;
    }
        .logo {
            object-fit: cover;
        }
            .navegacion {
                margin-top: 0;
                ul {
                    padding: 1rem;
                }
        }
                    footer {
                        margin-top: 10rem;
                    }
    // MAIN-INDEX
    .main-index {
        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            justify-items: center;
            align-items: center;
        }
            .par-main {
                margin: 0 2rem;
            }
    }
    // DISCOGRAFIA
    .main-discografia {
        .discos {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(7, 1fr);
            padding: 1rem;
        }
    }
    // FILMOGRAFIA
    .main-filmografia {
        .films {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            row-gap: 50rem;
            margin-bottom: 45rem;
        }
            .film {
                width: 100vw;
                height: 100vh;
                margin-left: 2rem;
                margin-bottom: 100rem;
                h2 {
                    height: 80%;
                    padding-bottom: 3rem;
                    padding-top: 3rem;
                }
                img {
                    width: 100%;
                    height: 40%;
                    margin-top: 5rem;
                }
                p {
                    padding-right: 0;
                }
            }
    }
    // CONTACTO
    .main-formulario {
        .contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            gap: 4rem;
            justify-items: center;
            align-items: center;
        }
            .formulario {
                width: auto;
            }
    }
}

/* desde tablet a mobile (320 a 768px) */
@media screen and (max-width: 768px) {
    // HEADER
    .header {
        .navegacion {
            ul {
                display: block;
                margin-top: 1rem;
                li {
                    margin-top: 1.5rem;
                }
            }

        }
    }
    // MAIN-INDEX
    .main-index {
        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            gap: 4rem;
            justify-items: center;
            align-items: center;
        }
    }
    // MAIN-DISCOGRAFIA
    .main-discografia {
        .discos {
            grid-template-columns: 1fr;
            padding: 1rem;
        }
    }
    // MAIN-FILMOGRAFIA
    .main-filmografia {
        .films {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            margin-bottom: 30rem;
        }
            .film {
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-self: center;
                width: 100vw;
                height: 100vh;
                margin-bottom: 25rem;
                h2 {
                    max-height: 10%;
                    padding-top: 0;
                    padding-bottom: 3.5rem;
                }
                img {
                    width: 65%;
                    height: 70%;
                    max-width: 100%;
                }
                p {
                    padding-right: 0;
                    padding-top: 0;
                }
            }
    }
    // CONTACTO
    .main-formulario {
        .formulario {
            width: auto;
            height: 50vh;
            margin: 1.5rem;
        }
    // FOOTER
    footer {
        margin: 0
    }
    }
}