footer {
    @include flex(row, space-evenly, center);
    padding: 2rem;
    margin-top: 5rem;
    .enlaces {
        @include flex(row, flex-end, center);
        column-gap: 2rem;
        width: 50%;
        .img-footer {
            max-width: 4rem;
        }
    }
}