.header {
    @include flex(row, space-between, center);
    margin: 2rem;
    .logo {
        margin: 2.5rem 0;
    }
    .navegacion {
        ul {
            @include flex(row, space-between, center);
            @extend %alineaciones;
            column-gap: 1.5rem;

        }
            .boton {
                background-color: nth($list: $colores, $n: 4);
                color: nth($list: $colores, $n: 2);
                text-transform: uppercase;
                font-weight: bold;
                list-style-type: none;
                overflow: hidden;
                font-size: 1.5rem;
                padding: 2rem;
                border: none;
                border-radius: 5%;
            }
        }
}